body {
    font-family: "Times New Roman", sans-serif;
    height: 350px;
    width: 200px;
    text-align: center;
    padding-left: 60px;
    padding-right: 60px;
    padding-top: 20px;
    padding-bottom: 140px;
    background-color: #474747;
    box-shadow: 0 24px 32px rgba(0, 0, 0, 0.2);
}


button {
    padding: 15px;
    font-size: 1.4em;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #ffffff;
    cursor: pointer;
}

#buttons {
    display: grid;
    grid-template-columns: repeat(1, 4fr);
    gap: 4px;
}


#buttons .btn[value="+"],
#buttons .btn[value="-"],
#buttons .btn[value="*"],
#buttons .btn[value="/"]
 {
    background-color: #f0aa13;
}

#buttons .btn[value="="] {
    background-color: #f0aa13;
    width: 175px;
    height: 30px;
    padding-top: 2px;
    text-align: center;
    font-size: 2em;
}
