body {
    font-family: "Times New Roman", sans-serif;
    height: 340px;
    width: 240px;
    text-align: center;
    padding-left: 60px;
    padding-right: 60px;
    padding-top:10px;
    padding-bottom: 120px;
    background-color: #474747;
    box-shadow: 0 24px 32px rgba(0, 0, 0, 0.2);
    margin: 0 auto;
}

#calculator {
    display: inline-block;
    
}


button {
    padding: 15px;
    font-size: 1.4em;
    text-align: center;
    border: 3px solid #727070;
    border-radius: 100px;
    background-color: #ffffff;
    cursor: pointer;
}

#buttons {
    grid-column: span 3;
    grid-template-columns: repeat(4, 1fr);
    gap: 12px;
    column-gap: 12px;
    row-gap: 12px;

}


#buttons .btn[value="+"],
#buttons .btn[value="-"],
#buttons .btn[value="*"],
#buttons .btn[value="/"]
 {
    background-color: #f0aa13;
}

#buttons .btn[value="="] {
    background-color: #f0aa13;
    width: 175px;
    height: 30px;
    padding-top: 2px;
    text-align: center;
    font-size: 2em;
}

#buttons .btn[value="del"] {
    width: 40px;
    height: 40px;
    padding: 0;
    text-align: center;
    font-size: 2em;
    
}

#buttons .btn[value = "7"],
#buttons .btn[value = "8"],
#buttons .btn[value = "9"],
#buttons .btn[value = "/"],
#buttons .btn[value = "del"] {
    transform: translateX(20px);
}

#buttons .btn[value = "4"],
#buttons .btn[value = "5"],
#buttons .btn[value = "6"],
#buttons .btn[value = "*"],
#buttons .btn[value = "copy"],
#buttons .btn[value = "1"],
#buttons .btn[value = "2"],
#buttons .btn[value = "3"],
#buttons .btn[value = "-"],
#buttons .btn[value = "sqrt"] {
    transform: translateX(20px);
}

#buttons .btn[value = "copy"] {
    width: 40px;
    height: 40px;
    padding: 0;
    text-align: center;
    font-size: 2em;
}

#buttons .btn[value = "sqrt"] {
    width: 40px;
    height: 40px;
    padding: 0;
    text-align: center;
    font-size: 2em;
}

#display {
    font-family:'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif ;
    height: 35px;
    width: 170px;
    text-align: center;
    font-size: 2.5em;
    background-color: #c5c4c4;
    color: #3f3f3f;
}

